/*@import './base.css'; */

html, body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body, #app, header{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color:#151515;
  overflow-x:hidden;
}
#app {
  max-width: 1100px;
  width:100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

button{
  margin:0;
  padding:0;
}

@media (hover: hover) {
  .main-nav a:hover {
    background-color: transparent;
    background-color:#9866b9;
    color:#fff;
    padding:8px;
  }
}

