/*@import './base.css'; */


html, body, #app{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
#app {
  max-width: 1100px;
  width:100%;
  margin: 0 auto;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: transparent;
    background-color:#59b65a;
    color:#fff;
    padding:4px;
  }
}

@media (max-width:500px){
  #app{
    width:100%;
    max-width:280px;
  }
}